section {
    background: linear-gradient(to right, rgb(253, 66, 243), rgb(228, 206, 1));
    margin-top: 16px;
}

section > h1 {
    background: linear-gradient(to right, rgb(253, 66, 243), rgb(228, 206, 1));
    font-weight: bold;
    text-transform: uppercase;
}
