.content {
    padding: 8px;
    background:linear-gradient(to right, rgb(241, 69, 250), rgb(3, 211, 206));
    border-radius: 0.25rem;
}

a {
    color: inherit;
    background:linear-gradient(to right, rgb(241, 69, 250), rgb(3, 211, 206));
    
}

img.product {
    height: 120px;
    max-width: initial;
    pointer-events: none;
}

.title {
    font-weight: bold;
    text-transform: uppercase;
    background:linear-gradient(to right, rgb(241, 69, 250), rgb(3, 211, 206));
   
}
